.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.container:hover {
  background-color: var(--inactive-hover);
  cursor: pointer;
}

.label {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}
