.UserControls {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
  flex-grow: 1;
  padding: 0.5rem;
}

.jobIcon {
  width: 48px;
  height: 48px;
}

.controlHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 130%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
  padding-bottom: 0.5rem;
}

.closeButton {
  cursor: pointer;
  transition: transform 0.06s linear;
  padding: 0 0.5rem;
}

.closeButton:hover {
  transform: scale(1.2);
}
