.container {
  color: white;
  height: 100%;
}

.headerFiller {
  position: fixed;
  top: 49px;
  background-color: var(--bg-secondary);
  z-index: 1;
  color: white;
}

.filler {
  height: 73px;
  margin-top: -1px;
}
