.container {
  color: white;
  height: 100%;
  position: relative;
  margin-top: 193px;
}

.headerFiller {
  position: fixed;
  top: 49px;
  background-color: var(--bg-secondary);
  z-index: 2;
  color: white;
}

.filler {
  height: 73px;
  margin-top: -1px;
}
