.container {
  background-color: var(--bg-primary);
  color: white;
  height: 100%;
  z-index: 100;
}

.headerFiller {
  position: fixed;
  top: 49px;
  z-index: 300;
  background-color: var(--bg-secondary);
}
