.Lane {
  border: 1px solid grey;
  background-color: rgb(38, 38, 38);
  display: flex;
  align-items: center;
  position: relative;
  overflow: visible;
}

.BossLane {
  padding-left: 64px;
  position: relative;
  height: 32px;
}

.segmentContainer {
  /* padding: 4px 0; */
  position: absolute;
  width: 100%;
  height: calc(100%);
}

.SingleEntity {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.AbilityIcon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
