.container {
  white-space: nowrap;
  text-align: left;
  margin-left: -1px;
  font-size: 13px;
  padding: 4px;
  border-left: 1px solid white;
  position: absolute;
  background-color: var(--bg-primary);
}

.label {
  overflow: hidden;
  text-overflow: "..";
  padding: 4px;
}

.tooltip {
  position: absolute;
  background-color: rgb(17, 17, 17);
  left: -4px;
  top: -4px;
  border-radius: 0.25rem;
  padding: 8px;
  z-index: 1000;
  animation: fadeIn 0.1s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
