.container {
  white-space: nowrap;
  text-align: left;
  margin-left: -1px;
  font-size: 13px;
  border-left: 1px solid white;
  position: absolute;
  background-color: var(--bg-primary);
}

.label {
  overflow: hidden;
  text-overflow: "..";
  padding: 4px;
}

.mechanicLabel {
  padding: 4px;
}

.castbar {
  height: 5px;
  background-color: #ffffe1;
  border: 1px solid #8a5c29;
  box-sizing: border-box;
}

.tooltip {
  position: absolute;
  display: none;
  background-color: rgb(17, 17, 17);
  border-radius: 0.25rem;
  padding: 8px;
  z-index: 1000;
  animation: fadeIn 0.1s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container:hover + .tooltip {
  z-index: 10;
  display: block;
}
