.container {
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
}

.jobFilter {
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
}


.dropdown {
  position: absolute;
  border: 1px solid gray;
  right: 0;
  top: 100%;
  background-color: black;
  padding: 8px;
  border-radius: 0.25rem;
  animation: dropdown-slide 0.3s linear;
}

.dropdownItem {
  display: flex;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: var(--inactive-hover);
}

@keyframes dropdown-slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
