.timeDisplay {
  background-color: var(--bg-darker);
  min-height: 24px;
  padding-left: 64px;
  position: sticky;
  /* top: 49px; */
  z-index: 5;
  /* margin-top: 144px; */
}

.timelineNumbers {
  display: flex;
  margin-left: -18px;
  /* gap: 44px; */
}

.tickContainer {
  display: flex;
  width: min-content;
}

.tick {
  box-sizing: border-box;
  border-left: 1px solid gray;
}

.tenSeconds {
  height: 18px;
}

.fiveSeconds {
  height: 12px;
}

.oneSecond {
  height: 8px;
}
