.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  border-top: 1px solid gray;
  padding: 1rem;
  background-color: var(--bg-secondary);
}

.contents {
  color: white;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: white;
}

.link:hover {
  color: gray;
}
