.LaneIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 100;
  background-color: inherit;
  top: 0;
  left: 0;
  border-right: 2px solid gray;
  box-sizing: border-box;
  padding: 8px 7px;
}

.popup {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: var(--bg-secondary);
  animation: fadeIn 0.2s linear;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  gap: 0.25rem;
  padding: 0.5rem;
  border: 1px solid black;
  white-space: nowrap;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
