.container {
  text-align: center;
  width: 100vw;
  padding-bottom: 1rem;
  position: relative;
  z-index: 300;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--bg-primary);
  
}
