.navbar {
  height: 48px;
  width: 100vw;
  background-color: var(--bg-secondary);
  color: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  font-size: 110%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.leftNav {
  display: flex;
  align-items: center;
}

.rightNav {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.navbar a {
  text-decoration: none;
  color: white;
}


.navTitle {
  padding: 0 1rem;
}

.navigationContainer {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding-left: 2rem;
}

.listItem {
  position: relative;
  cursor: pointer;
}

