.filter {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.filter:hover {
  background-color: var(--inactive-hover);
  transition: background-color 0.1s;
}

.inactiveFilter {
  color: gray;
}
