.dropdown {
  position: fixed;
  border: 1px solid gray;
  right: 0;
  top: 100%;
  z-index: 200;
  background-color: var(--bg-dark);
  padding: 8px;
  margin-top: 8px;
  border-radius: 0.25rem;
  width: 234px;
  animation: dropdown-slide 0.3s linear;
  color: white;
}

.dropdownItem {
  display: flex;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
}

.newItem {
  border-top: 1px solid gray;
}

.dropdownItem:hover {
  background-color: var(--inactive-hover);
}

@keyframes dropdown-slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
