.label {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 8px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 0.25rem;
  transition: background-color 0.05s linear;
  background-color: var(--bg-dark);
}

.menu {
  position: relative;
  width: 250px;
  height: 40px;
}

.label:hover {
  background-color: rgb(129, 129, 129);
}

