html {
  width: min-content;
}

body {
  margin: 0;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("/fonts/kumbh_sans/KumbhSans-VariableFont_YOPQ,wght.ttf");
}

* {
  font-family: "Kumbh Sans";
}

ul {
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100vh;
  box-sizing: border-box;
}

main {
  height: calc(100% - 48px - 2px);
}
