body {
  margin: 0;
}

@font-face {
  font-family: "Kumbh Sans";
  src: url("/fonts/kumbh_sans/KumbhSans-VariableFont_YOPQ,wght.ttf");
  font-display: swap;
}

* {
  font-family: "Kumbh Sans";
}

ul {
  padding: 0;
  margin: 0;
}

.wrapper {
  box-sizing: border-box;
  background-color: var(--bg-primary);
  min-height: 100vh;
  height: 100%;
  overflow: scroll;
  width: min-content;
}
